/* app css stylesheet */

.logo {
  position: absolute;
  float: left;
  top: 4px;
  right: 46px;
  height: 50px;
}

.ico {
  height: 20px;
  width: 20px;
  margin-right: 2px;
}

.menu {
  margin-top: 5px;
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}


.menu > li {
  display: inline;
}


.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

h2{
  margin-left: 50px;
}

.header {
  position: relative;
  left: 20px;
}

.faction-admin {
  position: relative;
  left: 20px;
  width: 75%;
}

.Game-History-Title,
.Record-Game-Title,
.Result-Administration-Title{
  text-align: center;
}

.game-history {
  float: left;
  width: 100%;
}

.result-admin {
  position: relative;
  left: 20px;
  width: 50%;
}

.caster-admin {
  position: relative;
  left: 20px;
  width: 75%;
  height: 600px;
  overflow: scroll;
}


.table-of-contents {
  width: 30%;
}

.front-page-button {
  width: 63px;
}

.btn-primary{
  width: 100px;
}

.search-results {
  border: 1px #C0C0C0 solid;
  margin-left: 20px;
  background-color: lightgray;
  height: 100px;
  width: 300px;
  text-align: center;
  padding-top: 10px;
}

.form-group {
  padding-left: 5px;
}

.submit-button {
  width: 80px !important;
  margin-top: 12px !important;
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}

.record-area {
  width: 100%;
}

.lost {
  color: red;
}

.won {
  color: green;
}

.text-font {
  font: 13px sans-serif;
}

.text-header {
}