<div class="record-area">
    <div class="form-group col-md-2">
      <label for="record-date">Date:</label>
      <input id="record-date" type="text" class="form-control" ng-model="newGame.date">
    </div>

    <div class="form-group col-md-3">
      <label for="opponent-name">Opponent Name:</label>
      <input id="opponent-name" class="form-control" type="text" ng-model="newGame.opponent_name"  size="30">
    </div>

    <div class="form-group col-md-2">
      <label for="size">Point Level (opt):</label>
      <input id="size" class="form-control" type="text" ng-model="newGame.size"  size="30">
    </div>

    <div class="form-group col-md-3">
      <label for="result">Result:</label>
      <select id="result" class="form-control" ng-model="newGame.result" ng-options="result.name for result in results"></select>
    </div>

    <div class="form-group col-md-2">
      <label for="location">Location (opt):</label>
      <input id="location" class="form-control" type="text" ng-model="newGame.location"  size="30">
    </div>

    <div class="form-group col-md-2">
      <label for="player-faction">Player Faction:</label>
      <select id="player-faction" class="form-control " ng-model="newGame.player_faction" ng-options="faction.name for faction in playerFactions" ng-change="playerFactionChanged(newGame.player_faction)"></select>
    </div>

    <div class="form-group col-md-3">
      <label for="player-warcaster">Player Warcaster:</label>
      <select id="player-warcaster" class="form-control" ng-model="newGame.player_warcaster" ng-options="caster.name+getDesignationForLevel(caster.level) for caster in playerCasters"></select>
    </div>

    <div class="form-group col-md-2">
      <label for="opponent-faction">Opponent Faction:</label>
      <select id="opponent-faction" class="form-control" ng-model="newGame.opponent_faction" ng-options="faction.name for faction in opponentFactions" ng-change="opponentFactionChanged(newGame.opponent_faction)"></select>
    </div>

    <div class="form-group col-md-3">
      <label for="opponent-warcaster">Opponent Warcaster:</label>
      <select id="opponent-warcaster" class="form-control" ng-model="newGame.opponent_warcaster" ng-options="caster.name+getDesignationForLevel(caster.level) for caster in opponentCasters"></select>
    </div>

    <div class="form-group col-md-2">
      <label for="game-type">Game Type (opt):</label>
      <select id="game-type" class="form-control" ng-model="newGame.game_type" ng-options="type for type in gameTypes"></select>
    </div>

    <div class="form-group col-md-3">
      <button class="submit-button form-control btn btn-default" ng-click="submitGame()">Submit</button>
    </div>
</div>

<div class="game-history">
  <table class="table table-striped">
    <tr>
      <th class="text-header">Date</th>
      <th class="text-header">Faction</th>
      <th class="text-header">Caster</th>
      <th class="text-header">Opponent</th>
      <th class="text-header">Opponent Faction</th>
      <th class="text-header">Opponent Caster</th>
      <th class="text-header">Point Level</th>
      <th class="text-header">Result</th>
      <th class="text-header">Manage</th>
    </tr>
    <tr ng-repeat="game in games">
      <th class="text-font">{{game.date}}</th>
      <th class="text-font"><img class="ico" src="{{getIconForFaction(game.player_faction)}}">{{game.player_faction}}</th>
      <th class="text-font">{{game.player_warcaster}}</th>
      <th class="text-font">{{game.opponent_name}}</th>
      <th class="text-font"><img class="ico" src="{{getIconForFaction(game.opponent_faction)}}">{{game.opponent_faction}}</th>
      <th class="text-font">{{game.opponent_warcaster}}</th>
      <th class="text-font">{{game.size}}</th>
      <th class="text-font" ng-class="{lost: isResultLoss(game.result), won: isResultWin(game.result)}">{{game.result}}</th>
      <th class="text-font" ng-if="game.key !== NEW"><button ng-click="deleteGame(game)">Delete</button></th>
    </tr>
  </table>
</div>
