<div class="record-area">
    <div class="form-group col-md-3">
      <label for="date">Date:</label>
      <input type="date" class="form-control" ng-model="newGame.date" value="{{ date | date: 'MM-dd-yyyy' }}"/>
    </div>

    <div class="form-group col-md-3">
      <label for="opponent_name">Opponent Name: </label>
      <input class="form-control" type="text" ng-model="newGame.opponent_name"  size="30">
    </div>

    <div class="form-group col-md-3">
      <label for="size">Point Level:</label>
      <input class="form-control" type="text" ng-model="newGame.size"  size="30">
    </div>

    <div class="form-group col-md-3">
      <label for="result">Result:</label>
      <select class="form-control" ng-model="newGame.result" ng-options="result.name for result in results"></select>
    </div>

    <div class="form-group col-md-3">
      <label for="player_faction">Player Faction:</label>
      <select class="form-control " ng-model="newGame.player_faction" ng-options="faction.name for faction in playerFactions" ng-change="playerFactionChanged(newGame.player_faction)"></select>
    </div>

    <div class="form-group col-md-3">
      <label for="player_warcaster">Player Warcaster</label>
      <select class="form-control" ng-model="newGame.player_warcaster" ng-options="caster.name+getDesignationForLevel(caster.level) for caster in playerCasters"></select>
    </div>
    
    <div class="form-group col-md-3">
      <label for="opponent_faction">Opponent Faction: </label>
      <select class="form-control" ng-model="newGame.opponent_faction" ng-options="faction.name for faction in opponentFactions" ng-change="opponentFactionChanged(newGame.opponent_faction)"></select>
    </div>

    <div class="form-group col-md-3">
      <label for="opponent_warcaster">Opponent Warcaster: </label>
      <select class="form-control" ng-model="newGame.opponent_warcaster" ng-options="caster.name+getDesignationForLevel(caster.level) for caster in opponentCasters"></select>
    </div>
   
    <div  class="form-group col-md-3">
      <button class="submit-button form-control btn btn-default" ng-click="submitGame()">Submit</button>
    </div>
</div>

<div class="game-history">
  <table class="table table-striped">
    <tr>
      <th class="text-header">Date</th>
      <th class="text-header">Faction</th>
      <th class="text-header">Caster</th>
      <th class="text-header">Opponent</th>
      <th class="text-header">Opponent Faction</th>
      <th class="text-header">Opponent Caster</th>
      <th class="text-header">Point Level</th>
      <th class="text-header">Result</th>
      <th class="text-header">Manage</th>
    </tr>
    <tr ng-repeat="game in games">
      <th class="text-font">{{game.date}}</th>
      <th class="text-font">{{game.player_faction}}</th>
      <th class="text-font">{{game.player_warcaster}}</th>
      <th class="text-font">{{game.opponent_name}}</th>
      <th class="text-font">{{game.opponent_faction}}</th>
      <th class="text-font">{{game.opponent_warcaster}}</th>
      <th class="text-font">{{game.size}}</th>
      <th class="text-font" ng-class="{lost: isResultLoss(game.result), won: isResultWin(game.result)}">{{game.result}}</th>
      <th class="text-font" ng-if="game.key !== NEW"><button ng-click="deleteGame(game)">Delete</button></th>
    </tr>
  </table>
</div>