<div class="record-area">
    <div class="form-group col-md-3">
      <label for="date">Results:</label>
      <div>{{performance}}</div>
    </div>

    <div class="form-group col-md-3">
      <label for="opponent_name">Opponent Name: </label>
      <input class="form-control" type="text" ng-model="search.opponent_name"  size="30">
    </div>

    <div class="form-group col-md-3">
      <label for="size">Point Level:</label>
      <input class="form-control" type="text" ng-model="search.size"  size="30">
    </div>

    <div class="form-group col-md-3">
      <label for="result">Result:</label>
      <select class="form-control" ng-model="search.result" ng-options="result.name for result in results"></select>
    </div>

    <div class="form-group col-md-3">
      <label for="player_faction">Player Faction:</label>
      <select class="form-control " ng-model="search.player_faction" ng-options="faction.name for faction in playerFactions" ng-change="playerFactionChanged(search.player_faction)"></select>
    </div>

    <div class="form-group col-md-3">
      <label for="player_warcaster">Player Warcaster</label>
      <select class="form-control" ng-model="search.player_warcaster" ng-options="caster.name+getDesignationForLevel(caster.level) for caster in playerCasters"></select>
    </div>
    
    <div class="form-group col-md-3">
      <label for="opponent_faction">Opponent Faction: </label>
      <select class="form-control" ng-model="search.opponent_faction" ng-options="faction.name for faction in opponentFactions" ng-change="opponentFactionChanged(search.opponent_faction)"></select>
    </div>

    <div class="form-group col-md-3">
      <label for="opponent_warcaster">Opponent Warcaster: </label>
      <select class="form-control" ng-model="search.opponent_warcaster" ng-options="caster.name+getDesignationForLevel(caster.level) for caster in opponentCasters"></select>
    </div>
   
    <div  class="form-group col-md-3">
      <button class="submit-button form-control btn btn-default" ng-click="searchGames()">Search</button>
      <button class="submit-button form-control btn btn-default" ng-click="clear()">Clear</button>
    </div>
</div>

<div class="game-history">
  <table class="table table-striped">
    <tr>
      <th class="text-header">Date</th>
      <th class="text-header">Faction</th>
      <th class="text-header">Caster</th>
      <th class="text-header">Opponent</th>
      <th class="text-header">Opponent Faction</th>
      <th class="text-header">Opponent Caster</th>
      <th class="text-header">Point Level</th>
      <th class="text-header">Result</th>
    </tr>
    <tr ng-repeat="game in games">
      <th class="text-font">{{game.date}}</th>
      <th class="text-font"><img class="ico" src="{{getIconForFaction(game.player_faction)}}">{{game.player_faction}}</th>
      <th class="text-font">{{game.player_warcaster}}</th>
      <th class="text-font">{{game.opponent_name}}</th>
      <th class="text-font"><img class="ico" src="{{getIconForFaction(game.opponent_faction)}}">{{game.opponent_faction}}</th>
      <th class="text-font">{{game.opponent_warcaster}}</th>
      <th class="text-font">{{game.size}}</th>
      <th  class="text-font" ng-class="{lost: isResultLoss(game.result), won: isResultWin(game.result)}">{{game.result}}</th>
    </tr>
  </table>
</div>